body {
    background-image: url("/image/layout/weave.png");
}

#img-perfil {
    height: 10em;
    width: 10em;
    border: 3px solid #ffffff;
}

.capa-perfil {
    height: 198px;
    width: 100%;
    margin-top: -1%;
    background-color: #e8f5e9;
}

.profile-menu {
    margin-top: 90px !important;
    margin-left: -50px !important;
    background-color: transparent;
}

.menu {
    color: #26a69a !important;
    font-weight: bold;
    font-size: 1.3em;
    margin-right: 10%;
    float: left;
}

.icone {
    position: absolute;
    left: 260px;
    top: 162px;
}

.descricao-perfil {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.descricao-perfil p{
    font-weight: 500;
}

.descricao-perfil span{
    color: #26a69a !important;
}

@media only screen and (max-width: 1246px) {

    .icone {
        position: absolute;
        left: 220px;
        top: 164px;
    }

}

@media only screen and (max-width: 1180px) {

    .icone {
        position: absolute;
        left: 200px;
        top: 162px;
    }

    .profile-menu {
        margin-top: 97px !important;
        margin-left: -50px !important;
        background-color: transparent;
    }

}

@media only screen and (max-width: 1119px) {

    .icone {
        position: absolute;
        left: 42%;
        top: 110px;
    }

    .profile-menu {
        margin-top: 147px !important;
        margin-left: -38% !important;
        background-color: transparent;
    }

}

@media only screen and (max-width: 992px) {

    .icone {
        position: absolute;
        left: 42%;
        top: 110px;
    }

    .profile-menu {
        margin-top: 2px !important;
        margin-left: -15% !important;
        background-color: transparent;
    }

}

@media only screen and (max-width: 790px) {

    .icone {
        position: absolute;
        left: 38%;
        top: 110px;
    }

    .profile-menu {
        margin-top: 2px !important;
        margin-left: -18% !important;
        background-color: transparent;
    }

}

#page-login {
    padding: 2%;
    border: 1px solid #eeeeee;
}

.redes {
    list-style: none;
    font-size: 1.7em;
    margin-left: 42%;
}

.redes li{
    margin: auto;
    float: left;
    margin-right: 5%;
}

.redes a {
    color: rgba(255,255,255,0.7);
}

.redes a:hover {
    color: rgb(255,255,255);
}

.page-footer {
    margin: auto;
    text-align: center;
}

.footer-copyrigh {
    font-size: 2em !important;
    color: rgba(255, 255, 255, 0.7) !important;
}

.votacao span{
    padding: 1%;
}

.votacao .download {
    float: right;
    font-size: 0.8em;
}

.votacao a {
    color: #26a69a;
}

.votacao a:hover {
    color: #00b0ff;
}

.votacao i {
    font-size: 1.7em;
}

.slide-out span {
    color: black !important;
}
